<html>
    <head>
    	<title>About</title>
    </head>
    <body>

        <div>
        	<h1>Members</h1>
        	<h3>Prach Panrit 5510613242</h3>
            <h3>Boonnarit Sakboonyarat 5510613283</h3>
            <h3>Tanakorn Lueangkajonvit 5510613309</h3>
            <h3>Chotirote Kieadhamalaph 5510613358</h3>
        </div>

        <div>
        	<h1>Requirements</h1>
        	<ul>
        		<li>Can edit class room for each subject</li>
        		<li>Can edit time schedule for each subject</li>
        		<li>Can show room usability table for each class room</li>
        		<li>Can query data from cross management module to help in manage classroom</li>
        	</ul>
        </div>

        <!--feature section-->
        <div>
        	<h1>Features</h1>
        	<ol>
        		<li>
        			<ul>
        			    
        				<li>As a student</li>
        				<li>I want to have a Class Schedule</li>
        				<li>So that I can plan for the tomorrow learning , manage my timeand can go to right classroom.</li>
        			</ul>
        		</li>

        		<li>
        			<ul>
        			    
        				<li>As a Registry Office</li>
        				<li>I want to know about capacity,device for each classroom</li>
        				<li>So that I can manage suitable classrom for each subject</li>
        			</ul>
        		</li>

        		<li>
        			<ul>
        			    
        				<li>As a Professor</li>
        				<li>I want to have a Class Schedule</li>
        				<li>So that I can plan for the tomorrow teaching , manage teaching time and can go to right classroom.</li>
        			</ul>
        		</li>

        		<li>
        			<ul>
        			    
        				<li>As a student</li>
        				<li>I want to have a Class Schedule </li>
        				<li>So that I can go to class on time.</li>
        			</ul>
        		</li>

        		<li>
        			<ul>
        			    
        				<li>As a Janitor</li>
        				<li>I want to know about time table for each class</li>
        				<li>So that I can manage my cleaning time</li>
        			</ul>
        		</li>
        	</ol>

        </div>

        <div>
        	<h1>ER-Diagram</h1>
        	<%= image_tag "/images/Drawing1.jpg" %>
        </div>

        <div>
        	<%= link_to "Pivotal Tracker", "https://www.pivotaltracker.com/n/projects/1298932" %>
        	<%= link_to "Github", "https://github.com/darkbaby/term-project" %>
        </div>

        <div>
            <h1>lo-fi mockup</h1>
            <%= image_tag "/images/main.jpg" %>
            <%= image_tag "/images/detail.jpg" %>
            <%= image_tag "/images/edit.jpg" %>
            <%= image_tag "/images/edit-error.jpg" %>
            <%= image_tag "/images/edit-update.jpg" %>
        </div>

        <div>
            <h1>storyboards</h1>
            <%= image_tag "/images/storyboard.jpg" %>
        </div>

    </body>
</html>