<html>
    <head>
    	<title>Add Room Form</title>
    </head>
    <body>
        <%= form_tag("edit_room", method: "post") do %>
        <%= hidden_field_tag(:id,@id) %>
        <% unless @temprec.errors.empty? %>
            <%= label_tag(:room_name, "Room Name: #{@temprec.errors[:name].first}") %>
            <%= text_field_tag(:room_name,@name) %>
        <% else %>
            <%= label_tag(:room_name, "Room Name:") %>
            <%= text_field_tag(:room_name,@name) %>
        <% end %>
        </br>
        <% unless @temprec.errors.empty? %>
            <%= label_tag(:building, "Building: #{@temprec.errors[:building].first}") %>
            <%= text_field_tag(:building,@building) %>
        <% else %>
            <%= label_tag(:building, "Building:") %>
            <%= text_field_tag(:building,@building) %>
        <% end %>
        </br>
        <% unless @temprec.errors.empty? %>
            <%= label_tag(:capacity, "Capacity: #{@temprec.errors[:capacity].first}") %>
            <%= text_field_tag(:capacity,@capacity) %>
        <% else %>
            <%= label_tag(:capacity, "Capacity:") %>
            <%= text_field_tag(:capacity,@capacity) %>
        <% end %>    
        </br>
            <%= label_tag(:tools, "Tools:") %>
            <%= text_area_tag(:tools,@tools) %>
        </br>
        <%= submit_tag("Submit") %>
        <% end %>
        <%= link_to 'Back', rooms_index_path %>
    </body>
</html>