<html>
    <head>
    </head>
    <body>
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= link_to 'Add Room', add_roomform_path %>
        <%= link_to 'Add Course', add_courseform_path %>
        <%= link_to 'Show Room' , show_room_path %>
        <%= link_to 'About', about_path %>
    </body>
</html>