<html>
    <head>
    	<title>Add Room Form</title>
    </head>
    <body>
        <% if flash[:notice2] %>
            <div class="notice"><%= flash[:notice2] %></div>
        <% end %>
        <div class="media">
            <divclass="media-body">
                <%= form_tag("search", method: "post") do %>
                    <%= label_tag(:room_name, "Search by Room Name:") %>
                    <%= text_field_tag(:room_name) %>
                    <%= submit_tag("SEARCH")%>
                <% end %>
            </div>
        </div>
        <%= link_to 'Back', rooms_index_path %>
    </body>
</html>