<html>
    <head>
    	<title>Show Room</title>
    </head>
    <body>
    <div class="container">
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
    <div class="media">
        <div class="media-body">
            <table class="table table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Building</th>
                <th>Tools</th>
                <th>Capacity</th>
            </tr>
            <% @room.each do |r| %>
            <tr>
                <td><%= r.name %></td>
                <td><%= r.building %></td>
                <td><%= r.tools %></td>
                <td><%= r.capacity %></td>
                <td><%= button_to 'Detail',detail_room_path(:name => r.name) , class: 'btn-mini btn-success', :id => "Detail_#{r.name}"%></td>
                <% if(session[:cur] == "admin") %>
                <td><%= button_to 'Edit', edit_roomform_path(:id => r.id), class: 'btn-mini btn-success', data: {confirm: "Are you sure?"}, :id => "Edit_#{r.name}" %></td>
                <td><%= button_to 'Delete', destroy_path(:name => r.name), class: 'btn-mini btn-danger', data: {confirm: "Are you sure?"}, :id => "Delete_#{r.name}" %></td>
                <% end %>
            </tr>
            <% end %>
        </table>
        </div>
    </div>    
        
        <%= button_to 'Back',firstform_path , class: 'btn btn-inverse'%>

</div>
    </body>
</html>