<html>
    <head>
    	<title>Show Room</title>
    </head>
    <body>
        <div class="container">
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
    <div class="media">
        <div class="media-body">
            <table class="table table-bordered table-hover">
            <tr>
                <th>Course</th>
                <th>Room</th>
                <th>Day</th>
                <th>Time</th>
            </tr> 
            <% @course.each do |c| %>
            <tr>
                <td><%= c.cname %></td>
                <td><%= c.rname %></td>
                <td><%= c.day %></td>
                <td><%= c.time %></td>
                <% if (session[:cur] == "admin") %>
                <td><%= button_to 'Delete', destroy_path(:id => c.id), class: 'btn-mini btn-danger', data: {confirm: "Are you sure?"}, :id => "Delete_#{c.cname}" %></td>
                <% end %>
            </tr>
            <% end %>
        </table>
        </div>
    </div>    
        
        <%= button_to 'Back',firstform_path , class: 'btn btn-inverse'%>
        </div>
    </body>
</html>