<!DOCTYPE html>
<html>
<head>
  <title>TermProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "/stylesheets/mycss" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Add Room', add_roomform_path %></li>
        <li><%= link_to 'Add Course', add_courseform_path %></li>
        <li><%= link_to 'Show Room' , show_room_path %></li>
        <li><%= link_to 'Show Course' , show_course_path %></li>
        <li><%= link_to 'About', about_path %></li>
    </ul>
  </div>
        
<%= yield %>

</body>
</html>
